body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: #cee9ff;
}

a {
    color: rgb(245, 245, 248);
    text-decoration: solid;
    transition: color 0.3s;
    background-size: contain;
    background-color: black;
    border-radius: 5px;
}

a:hover {
    color: red;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    color: blue;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(102, 2, 233);
    text-decoration: underline;
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 25px;
    background-color: rgb(50, 130, 233);
    border-radius: 10px;
    border-width: 5px;
    padding: 2px 10px;
    color: white;
    border-color: rgb(10, 232, 236);
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

.choices button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

ol{
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

li:nth-child(odd) {
    background-color: rgb(14, 67, 123);
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.scores {
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.feedback {
    font-style: italic;
    font-size: 150%;
    margin-top: 25px;
    padding-top: 15px;
    color: darkblue;
    border-top: 2px solid #37b03c
}

.timer {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(237, 237, 244);
    background-size: contain;
    background-color: rgb(13, 12, 13);
    border-radius: 5px;
}

.timer:hover {
 color: red;
}